.form-wrapper {
  width: 100%;
  height: 100%;
  // background: orangered;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:  auto;

  @media (min-width: 768px) {
    grid-template-columns: auto 50% auto;
    grid-template-rows:  400px auto auto;
    align-items: center;
    .form-card {
      grid-column-start: 2;
      grid-column-end: 3;
      // grid-row-start: 2;
      // grid-row-end: 3;
    }
  }



}

mat-form-field {
  width: 100%;
}
