.conteiner {
  // background-color: greenyellow;
  height: 100%;
}
.menu-lateral {
  width: auto;
  min-width: 280px;
  max-width: 300px;
  // background-color: purple;
}
.conteudo {
  // background-color: hotpink;
}

.mat-drawer {
  // border: none;
  border-right-width: 0px;
  // border-right-color: rgba(0, 0, 0, 0.12);
}

.mat-drawer-content {
  // margin-left: 215px;
}
